@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100italic);

:root {
    --blue: #4FC1E9;
    --dark-blue: #3BAFDA;
    --light-grey: #E7E7E7;
    --grey: #656D78;
    --dark-grey: #434A54;
    --black: #111111;
    --white: #fff;
    --material-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --material-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



/* BASIC SETTINGS  -------------------------------*/

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    color: var(--black);
}

html * {
    box-sizing: border-box;
    transition: 0.3s all;
}

h1 {font-size: 2em; font-weight: bold;}
h2 {font-size: 1.5em; font-weight: bold;}
h3 {font-size: 1.4em; font-weight: bold;}
h4 {font-size: 1.3em; font-weight: bold;}
h5 {font-size: 1.2em; font-weight: bold;}
h6 {font-size: 1.1em; font-weight: bold;}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--light-grey);
}

p {
    text-align: justify;
    line-height: normal;
}



/* BODY AND MAIN BLOCKS TEMPLATES-------------------------------*/

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--light-grey);
}

.box { /*Top background block of BODY*/
    width: 100%;
    height: 30vh;
    max-height: 300px;
    background-color: var(--blue);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main_container { /*Container with Rows*/
    display: flex;
    flex-direction: column;

    max-width: 800px;
    width: 100%;
    min-height: 100%;

    margin: 0 auto;
    padding: 0 5px;
}

.row { /*Main element*/
    display: flex;
    width: 100%;
    margin: 30px auto;
}

.block { /*Row with background and shape*/
    background-color: var(--white);
    box-shadow: var(--material-shadow);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.block:hover {
  box-shadow: var(--material-shadow-hover);
}

.line { /*Change for <hr>*/
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.line:before { /*Change for <hr>*/
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid var(--light-grey);
}

.bold { /*All .bold blocks are bold*/
    font-weight: bold;
}

.columns { /*Template for column elemenrs*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.columns .column {
    width: 45%;
    min-width: 140px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color: var(--dark-grey);
}



/*TOP ROW with LOGO and SOCIALS ------------------*/

.top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top .logo {
    color: var(--white);
}

.top .socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.socials a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px;
    margin-left: 5px;
    width: 34px;
    height: 34px;
    border-radius: 100%;

    color: var(--blue);
    background-color: var(--white);

    box-shadow: var(--material-shadow);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.socials a:hover {
    box-shadow: var(--material-shadow-hover);
}



/*2nd ROW - PERSONAL INFO ------------------*/

.personal-info {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;

    background-color: var(--white);

    height: 40vw;
    max-height: 400px;
}

.profile-img { /*Main photo of profile (left)*/
    max-height: 40vw;
    max-width: 40vw;
    height: 100%;
    width: 400px;

    background-image: url("../img/avatar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125% 125%;
}

.personal-info .info { /*Main info of profile (right)*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: var(--white);
}

.info___top {  /*Text information*/
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info___top .name { /*Name and speciality*/
    font-size: 2em;
    width: 100%;
}

.info___top .name span { /*Name*/
    color: var(--dark-blue);
}

.info___top .name p { /*Speciality*/
    font-size: 16px;
    color: var(--black);
    margin-top: 10px;
}

.info___top___table { /*List of Information*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    flex-grow: 1;

    overflow: hidden;

    min-width: 340px;
}

.info___top___row { /*Row of Information*/
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: 10px;

    width: 100%;
}

.info___top___row div:first-child {
    width: 25%;
}

.info___bottom {  /*Contact block (bottom)*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    height: 7vw;
    max-height: 75px;
    min-height: 55px;
    width: 100%;

    background-color: var(--blue);
}

.info___bottom a {   /*Contact icon*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    color: var(--white);
}

.info___bottom a:hover {
    background-color: var(--dark-blue);
}



/*3nd ROW - ABOUT ME and SKILLS ------------------*/

.about-info {
    justify-content: center;
    align-items: flex-start;

    padding: 20px;
}

.about-info > * {
    flex-basis: 100%;

    padding: 20px;
}

.about-info h2 {
    margin-bottom: 10px;
    color: var(--dark-blue);
}

.about-info .column > * {
    margin: 3px 0;
}

.about-info .column:first-child {
    margin-right: 15px;
}



/*BOTTOM ROW - LIFETIME ------------------*/





/*MOBILE ADAPTATION ------------------*/

@media screen and (max-width: 650px) {
    /*Mobile margins ------------------*/
    .row {
        margin: 20px auto;
    }



    /*Centering top ------------------*/
    .top {
        justify-content: center;
        text-align: center;
    }

    .top .socials {
        margin: 20px auto 0;
    }


    /*Adjusting photo ------------------*/
    .personal-info {
        position: relative;
        max-height: 600px;
        height: auto;
    }
    .profile-img {
        position: absolute;
        top: 0;
        right: 0;

        width: 90px;
        height: 90px;
    }

    .personal-info .line::before {
        width: 100%;
    }


    /*Wrapping About Info on Mobile------------------*/
    .about-info {
        flex-wrap: wrap;
    }

}
